*,
*::before,
*::after {
  box-sizing: border-box;
}

/* stylelint-disable selector-class-pattern */
@font-face {
  font-family: Roboto;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
}

.page {
  color: #cacaca;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;

  background-color: #08020d;
}

.page__body {
  margin: 0;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2 {
  font-weight: bold;
}

h1,
h2,
h3,
h4 {
  margin: 0;

  line-height: 1.5;
  text-transform: uppercase;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 16px;
}

@media (min-width: 850px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 24px;
  }
}

h4 {
  font-size: 18px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.visually-hidden {
  position: fixed;

  transform: scale(0);
}

.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-48 {
  margin-bottom: 48px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.col-gray {
  color: #e0e0e0;
}

.col-white {
  color: #fff;
}

.txt-al-center {
  text-align: center;
}

.menu {
  padding: 0;
}

.menu li {
  list-style-type: none;
}

.btn {
  padding: 20px 30px;

  color: inherit;
  font-family: inherit;

  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input {
  color: #fff;
  font-family: inherit;

  border: none;
}

*:focus-visible {
  outline: 1px solid #fff;
  box-shadow: 0 0 4px 0 rgb(255 255 255 / 90%);
}

.main-wrapper {
  flex-grow: 1;
  max-width: 1240px;
  padding-right: 20px;
  padding-left: 20px;
}

.flex-al-center {
  display: flex;
  align-items: center;
}

.similiar-items,
.discography {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  padding-top: 48px;

  column-gap: 50px;
  row-gap: 25px;
}

@media (min-width: 600px) {
  .similiar-items,
  .discography {
    display: flex;
    flex-wrap: wrap;
  }
}

.similiar-item,
.discography-item {
  width: 137px;
}

@media (min-width: 900px) {
  .similiar-item,
  .discography-item {
    width: 250px;
  }
}

.similiar-img,
.discography-img {
  display: block;
  margin-bottom: 20px;
}

.similiar-title,
.album-title {
  font-weight: 700;
  font-size: 18px;
  text-transform: none;
}

.similiar-subtitle,
.album-year {
  margin: 0;

  font-size: 16px;
}

.page-description {
  background: url("../images/banner.webp") no-repeat;
  background-position: top center;
  background-size: cover;
}

.logo {
  gap: 16px;
}

.logo__image {
  width: 24px;
}

.search {
  display: flex;
  align-items: center;
}

.search__input {
  flex-grow: 1;
  min-width: 48px;
  height: 28px;
  padding: 5px 10px;

  background-color: #3c3b3d;
  border-radius: 50px;
}

@media (min-width: 850px) {
  .search__input {
    min-width: 248px;
  }
}

.search__input::placeholder {
  font-size: 13.3px;
  font-family: Arial, sans-serif;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.header {
  position: absolute;
  top: 25px;

  display: grid;
  width: calc(100% - 40px);
  row-gap: 16px;
}

@media (min-width: 1240px) {
  .header {
    width: 1200px;
  }
}

.header__menu {
  margin-top: 0;
  margin-bottom: 0;
}

.header__menu-item:hover,
.header__menu-item:focus-visible {
  color: #f89202;

  outline-offset: 3px;
  box-shadow: none;
}

.header__text {
  font-size: 11px;
  text-transform: uppercase;
}

@media (min-width: 850px) {
  .header {
    grid-template-columns: max-content min-content 1fr;

    column-gap: 90px;
  }

  .header__search {
    justify-self: end;
  }

  .header__menu {
    display: flex;
    gap: 24px;
  }
}

.main-description {
  padding: 247px 0 200px;
}

@media (min-width: 850px) {
  .main-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0;
  }

  .main-description__h2 {
    margin-bottom: 14px;
  }
}

.main-description__subtitle {
  margin-top: 16px;
  margin-bottom: 17px;

  font-size: 16px;
}

.access-form {
  display: flex;
  flex-direction: column;
}

.access-form__label {
  display: none;
}

.access-form__input {
  min-height: 50px;
  margin-bottom: 24px;
  padding-left: 20px;

  font-size: 16px;

  background-color: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
}

.access-form__input::placeholder {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.03em;
}

.access-form__btn {
  height: 60px;

  text-transform: uppercase;

  background-color: #34c176;

  transition: filter ease-in-out 0.15s;
}

.access-form__btn:hover,
.access-form__btn:focus-visible {
  filter: brightness(95%);
}

@media (min-width: 850px) {
  .access-form {
    display: grid;
    width: 570px;

    column-gap: 24px;
  }

  .access-form__btn {
    grid-column: span 2;
  }
}

.page-pricing__title {
  margin-bottom: 48px;
}

.page-pricing__text {
  display: block;
  margin-top: 40px;

  font-size: 16px;
}

.page-pricing__cards {
  display: grid;
  gap: 50px;
}

@media (min-width: 850px) {
  .page-pricing__cards {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }
}

.pricing-card {
  padding: 0 24px;

  border-radius: 0.9rem;

  transition: transform ease-in-out 0.15s;
}

.pricing-card__title {
  margin-top: 1em;

  font-weight: 400;
}

.pricing-card__value {
  margin-top: 200px;
  margin-bottom: 40px;

  font-size: 64px;
  line-height: 1;
}

.pricing-card__currency {
  font-size: 32px;
  line-height: 1.5;
  text-transform: uppercase;
  vertical-align: top;
}

.pricing-card__btn {
  display: block;

  font-size: 16px;
  text-align: center;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid #fff;
  outline-offset: 0;

  transition: background-color ease-in-out 0.15s;
}

.pricing-card__btn:hover,
.pricing-card__btn:focus {
  background-color: rgb(0 0 0 / 10%);
}

.pricing-card__footer {
  margin-top: 64px;
  margin-bottom: 64px;

  font-size: 12.8px;
}

.pricing-card--free {
  background: url("../images/subscribe_1.webp") no-repeat;
  background-position: top center;
  background-size: cover;
}

.pricing-card--standart {
  background: url("../images/subscribe_2.webp") no-repeat;
  background-position: top center;
  background-size: cover;
}

.pricing-card--premium {
  background: url("../images/subscribe_3.webp") no-repeat;
  background-position: top center;
  background-size: cover;
}

@media (min-width: 850px) {
  .pricing-card:hover {
    transform: scale(1.02);
  }
}

.news-items {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}

.news-image {
  width: 100%;
}

.news-title {
  font-weight: 400;
  text-transform: none;
}

@media (max-width: 849px) {
  .news-title {
    margin: 42px 0 16px;
  }
}

@media (min-width: 850px) {
  .news-title {
    margin: 0 0 30px;

    font-size: 30px;
  }
}

@media (min-width: 850px) {
  .news-item {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(2, 1fr);

    column-gap: 50px;
  }
}

.news-item:nth-child(even) .news-image {
  grid-column-start: 2;
}

.news-text {
  margin: 0;

  font-size: 16px;
}

.news-author {
  display: flex;
  gap: 16px;
  align-items: center;

  font-size: 12.8px;
  text-transform: uppercase;
}

.news-author-name {
  color: #f89202;
}

.news-btn {
  display: inline-block;
  margin-top: 48px;
  padding: 16px 30px;

  font-size: 12.8px;
  text-transform: uppercase;

  border: 1px solid #fff;
  outline-offset: 0;
}

.news-btn:hover,
.news-btn:focus-visible {
  color: #fff;
}

.page-app {
  display: grid;
}

@media (min-width: 850px) {
  .page-app {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 850px) {
  .app-title {
    grid-column: span 2;
  }
}

.app-description {
  font-size: 16px;
}

.app-image {
  justify-self: center;
}

@media (min-width: 850px) {
  .app-image {
    order: 1;
  }
}

.app-btn {
  display: inline-block;
  padding: 16px 40px;

  color: #fff;

  background-color: #95390c;
  border-radius: 32px;
}

.app-btn:hover,
.app-btn:focus-visible {
  filter: brightness(95%);
}

.bg-artist {
  background: url("../images/Morten_Harket.webp") no-repeat;
  background-position: top center;
  background-size: cover;
}

.artist-description {
  padding-top: 225px;
  padding-bottom: 225px;
}

@media (min-width: 850px) {
  .artist-description {
    padding-top: 250px;
  }
}

.artist-subtitle {
  display: block;

  font-size: 16px;
}

.artist-form {
  display: grid;
  box-sizing: border-box;

  column-gap: 24px;
  row-gap: 1.5rem;
}

@media (min-width: 850px) {
  .artist-form {
    grid-template-columns: repeat(2, max-content);
  }
}

.artist-form-btn {
  display: flex;
  align-items: center;
  width: 200px;

  font-size: 12.8px;
  text-transform: uppercase;

  transition: filter ease-in-out 0.15s;
}

.artist-form-btn:hover,
.artist-form-btn:focus-visible {
  filter: brightness(95%);
}

.artist-form-btn-play {
  background-color: #5328a1;
}

.artist-form-btn-like {
  background-color: #95390c;
}

.artist-form-btn-img {
  width: 20px;
  height: 20px;
  margin-right: 16px;

  filter: invert(1);
}

.popular-tracks {
  display: grid;
  padding-top: 48px;
  row-gap: 25px;
}

@media (min-width: 850px) {
  .popular-tracks {
    grid-template-columns: repeat(2, 1fr);
  }
}

.popular-track {
  display: flex;
  gap: 15px;
  padding-right: 50px;
}

.track-poster {
  width: 55px;
  height: 55px;
}

.track-info {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.track-info,
.track-title {
  font-size: 12.8px;
}

.track-title {
  color: #fff;
}

.album-year {
  line-height: 1.4;
}

.similiar-item {
  text-align: center;
}

.similiar-img {
  border-radius: 50%;
}

.similiar-subtitle {
  line-height: 1.45;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-title {
  margin-bottom: 14px;

  font-size: 18px;
}

.footer-menu {
  margin: 0;

  font-size: 16px;
}

.social {
  display: flex;
  gap: 24px;
}

.footer-top {
  display: grid;
  gap: 32px;
  width: 100%;
  padding-top: 64px;
  padding-bottom: 47px;
}

@media (min-width: 850px) {
  .footer-top {
    grid-template-columns: repeat(2, auto);
  }
}

@media (min-width: 965px) {
  .footer-top {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding-bottom: 73px;
  }
}

.footer-line {
  width: 100%;

  border-top: 1px solid #fff;
}

.footer-bottom {
  width: 100%;
  padding-top: 41px;
  padding-bottom: 50px;
}

@media (min-width: 850px) {
  .footer-bottom {
    padding-top: 40px;
    padding-bottom: 48px;
  }
}

.footer-bottom-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;

  font-size: 16px;
}

@media (min-width: 850px) {
  .footer-bottom-menu {
    flex-direction: row;
  }
}

.footer-item:hover,
.footer-item:focus {
  color: #fff;
}

.footer-item:hover > .footer-img,
.footer-item:focus > .footer-img {
  filter: contrast(2);
}
