*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
}

html {
  color: #cacaca;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;

  background-color: #08020d;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

figure {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2 {
  font-weight: bold;
}

h1,
h2,
h3,
h4 {
  margin: 0;

  line-height: 1.5;
  text-transform: uppercase;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 16px;
}

@media (min-width: 850px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 24px;
  }
}

h4 {
  font-size: 18px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.visually-hidden {
  position: fixed;

  transform: scale(0);
}

.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-48 {
  margin-bottom: 48px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.col-gray {
  color: #e0e0e0;
}

.col-white {
  color: #fff;
}

.text-al-center {
  text-align: center;
}

.btn {
  padding: 20px 30px;

  color: inherit;
  font-family: inherit;

  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input {
  color: #fff;
  font-family: inherit;

  border: none;
}

*:focus-visible {
  outline: 1px solid #fff;
  box-shadow: 0 0 4px 0 rgb(255 255 255 / 90%);
}

.main-wrapper {
  flex-grow: 1;
  max-width: 1240px;
  padding-right: 20px;
  padding-left: 20px;
}

.flex-al-center {
  display: flex;
  align-items: center;
}

.similiar-artists,
.discography {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  padding-top: 48px;

  column-gap: 50px;
  row-gap: 25px;
}

@media (min-width: 600px) {
  .similiar-artists,
  .discography {
    display: flex;
    flex-wrap: wrap;
  }
}

.artist-item,
.album {
  width: 137px;

  font-size: 16px;
}

@media (min-width: 900px) {
  .artist-item,
  .album {
    width: 250px;
  }
}

.artist-item .artist-photo,
.album .poster {
  display: block;
  margin-bottom: 20px;
}

.artist-item .title,
.album .title {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  text-transform: none;
}

.artist-item .count,
.album .year {
  margin: 0;
}

.logo {
  gap: 16px;
}

.logo img {
  width: 24px;
}

.header {
  position: absolute;
  top: 25px;

  display: grid;
  width: calc(100% - 40px);
  row-gap: 16px;

  font-size: 11px;
  text-transform: uppercase;
}

@media (min-width: 850px) {
  .header {
    grid-template-columns: max-content min-content 1fr;

    column-gap: 90px;
  }

  .header-search {
    justify-self: end;
  }
}

@media (min-width: 1240px) {
  .header {
    width: 1200px;
  }
}

.header-menu {
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 850px) {
  .header-menu {
    display: flex;
    gap: 24px;
  }
}

.header-menu a:hover,
.header-menu a:focus-visible {
  color: #f89202;

  outline-offset: 3px;
  box-shadow: none;
}

.header-search {
  display: flex;
  align-items: center;
}

.header-search .input {
  flex-grow: 1;
  min-width: 48px;
  height: 28px;
  padding: 5px 10px;

  background-color: #3c3b3d;
  border-radius: 50px;
}

@media (min-width: 850px) {
  .header-search .input {
    min-width: 248px;
  }
}

.header-search .input::placeholder {
  font-size: 13.3px;
  font-family: Arial, sans-serif;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

@media (min-width: 850px) {
  .header-search {
    justify-self: end;
  }
}

.bg-description {
  background: url("../images/banner.webp") no-repeat;
  background-position: top center;
  background-size: cover;
}

.main-description {
  padding: 248px 0 200px;
}

@media (min-width: 850px) {
  .main-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0;
  }

  .main-description h2 {
    margin-bottom: 14px;
  }
}

.main-description .subtitle {
  font-size: 16px;
}

.access-form {
  display: flex;
  flex-direction: column;
}

@media (min-width: 850px) {
  .access-form {
    display: grid;
    width: 570px;

    column-gap: 24px;
  }

  .access-form .btn {
    grid-column: span 2;
  }
}

.access-form .input {
  min-height: 50px;
  margin-bottom: 24px;
  padding-left: 20px;

  font-size: 16px;

  background-color: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
}

.access-form .input::placeholder {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.03em;
}

.access-form .access-btn {
  height: 60px;

  text-transform: uppercase;

  background-color: #34c176;

  transition: filter ease-in-out 0.15s;
}

.access-form .access-btn:hover,
.access-form .access-btn:focus-visible {
  filter: brightness(90%);
}

.page-pricing .title {
  margin-bottom: 48px;
}

.page-pricing .footnote {
  margin: 40px 0 0;

  font-size: 16px;
}

.page-pricing .pricing-cards {
  display: grid;
  gap: 50px;
}

@media (min-width: 850px) {
  .page-pricing .pricing-cards {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }
}

.pricing-card {
  padding: 0 24px;

  border-radius: 0.9rem;

  transition: transform ease-in-out 0.15s;
}

.pricing-card .title {
  margin-top: 1em;

  font-weight: 400;
}

.pricing-card .value {
  margin-top: 200px;
  margin-bottom: 40px;

  font-size: 64px;
  line-height: 1;
}

.pricing-card .currency {
  font-size: 32px;
  line-height: 1.5;
  text-transform: uppercase;
  vertical-align: top;
}

.pricing-card .price-btn {
  display: block;

  font-size: 16px;
  text-align: center;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid #fff;
  outline-offset: 0;

  transition: background-color ease-in-out 0.15s;
}

.pricing-card .price-btn:hover,
.pricing-card .price-btn:focus-visible {
  background-color: rgb(0 0 0 / 10%);
}

.pricing-card .description {
  margin-top: 64px;
  margin-bottom: 64px;

  font-size: 12.8px;
}

.pricing-card.free {
  background: url("../images/subscribe_1.webp") no-repeat;
  background-position: top center;
  background-size: cover;
}

.pricing-card.standart {
  background: url("../images/subscribe_2.webp") no-repeat;
  background-position: top center;
  background-size: cover;
}

.pricing-card.premium {
  background: url("../images/subscribe_3.webp") no-repeat;
  background-position: top center;
  background-size: cover;
}

@media (min-width: 850px) {
  .pricing-card:hover {
    transform: scale(1.02);
  }
}

.news-items {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}

@media (min-width: 850px) {
  .news-item {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(2, 1fr);

    column-gap: 50px;
  }
}

.news-item .news-image {
  width: 100%;

  vertical-align: middle;
}

@media (max-width: 1239px) {
  .news-item .news-image {
    height: 100%;
    object-fit: cover;
  }
}

.news-item h3 {
  font-weight: 400;
  text-transform: none;
}

@media (max-width: 849px) {
  .news-item h3 {
    margin: 50px 0 16px;
  }
}

@media (min-width: 850px) {
  .news-item h3 {
    margin: 0 0 30px;

    font-size: 30px;
  }
}

.news-item p {
  margin: 0;

  font-size: 16px;
}

.news-item .author {
  display: flex;
  gap: 16px;
  align-items: center;

  font-size: 12.8px;
  text-transform: uppercase;
}

.news-item .author-name {
  color: #f89202;
}

.news-item .news-btn {
  display: inline-block;
  margin-top: 48px;
  padding: 16px 30px;

  font-size: 12.8px;
  text-transform: uppercase;

  border: 1px solid #fff;
  outline-offset: 0;

  transition: color ease-in-out 0.15s;
}

.news-item .news-btn:hover,
.news-item .news-btn:focus-visible {
  color: #fff;
}

.news-item:nth-child(even) .news-image {
  grid-column: 2;
}

.page-app {
  display: grid;

  font-size: 16px;
}

@media (min-width: 850px) {
  .page-app {
    grid-template: repeat(2, auto) / repeat(2, 1fr);
  }

  .page-app .app-image {
    order: 1;
  }
}

.page-app .app-image {
  justify-self: center;
}

@media (min-width: 850px) {
  .page-app h2 {
    grid-column: span 2;
  }
}

.page-app .app-btn {
  display: inline-block;
  padding: 16px 40px;

  color: #fff;

  background-color: #95390c;
  border-radius: 32px;

  transition: filter ease-in-out 0.15s;
}

.page-app .app-btn:hover,
.page-app .app-btn:focus-visible {
  filter: brightness(90%);
}

.bg-artist {
  background: url("../images/Morten_Harket.webp") no-repeat;
  background-position: top center;
  background-size: cover;
}

.artist-description {
  padding-top: 225px;
  padding-bottom: 225px;

  font-size: 16px;
}

@media (min-width: 850px) {
  .artist-description {
    padding-top: 250px;
  }
}

.artist-form {
  display: grid;
  box-sizing: border-box;

  column-gap: 24px;
  row-gap: 1.5rem;
}

@media (min-width: 850px) {
  .artist-form {
    grid-template-columns: repeat(2, max-content);
  }
}

.artist-form .btn {
  display: flex;
  align-items: center;
  width: 200px;

  font-size: 12.8px;
  text-transform: uppercase;
  column-gap: 16px;

  transition: filter ease-in-out 0.15s;
}

.artist-form .btn img {
  width: 20px;
  height: 20px;

  filter: invert(1);
}

.artist-form .btn.play {
  background-color: #5328a1;
}

.artist-form .btn.like {
  background-color: #95390c;
}

.artist-form .btn:hover,
.artist-form .btn:focus-visible {
  filter: brightness(90%);
}

.popular-tracks {
  display: grid;
  padding-top: 48px;
  row-gap: 25px;
}

@media (min-width: 850px) {
  .popular-tracks {
    grid-template-columns: repeat(2, 1fr);
  }
}

.popular-track {
  display: flex;
  gap: 15px;
  padding-right: 50px;

  font-size: 12.8px;
}

.popular-track .track-poster {
  width: 55px;
  height: 55px;
}

.popular-track .track-info {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.popular-track .track-title {
  color: #fff;
  font-size: inherit;
}

.album .year {
  line-height: 1.4;
}

.artist-item {
  text-align: center;
}

.artist-item .artist-photo {
  border-radius: 50%;
}

.artist-item .count {
  line-height: 1.45;
}

.footer {
  display: grid;
  justify-items: center;

  font-size: 16px;

  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer a:hover,
.footer a:focus {
  color: #fff;
}

.footer a:hover > img,
.footer a:focus > img {
  filter: contrast(2);
}

.footer .social {
  display: flex;
  gap: 24px;
  margin: 18px 0;
}

.footer-top {
  display: grid;
  gap: 32px;
  width: 100%;
  padding-top: 64px;
  padding-bottom: 47px;
}

.footer-top .title {
  margin-bottom: 14px;

  font-size: 18px;
}

@media (min-width: 850px) {
  .footer-top {
    grid-template-columns: repeat(2, auto);
  }
}

@media (min-width: 965px) {
  .footer-top {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding-bottom: 73px;
  }
}

.footer-line {
  width: 100%;

  border-top: 1px solid #fff;
}

.footer-bottom {
  width: 100%;
  padding-top: 41px;
  padding-bottom: 50px;
}

@media (min-width: 850px) {
  .footer-bottom {
    padding-top: 40px;
    padding-bottom: 48px;
  }
}

.footer-bottom .bottom-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 850px) {
  .footer-bottom .bottom-menu {
    flex-direction: row;
  }
}
