.bg-artist {
  @include bg-image("../images/Morten_Harket.webp");
}

.artist-description {
  padding-top: 225px;
  padding-bottom: 225px;

  @include media(min, $bp-large) {
    padding-top: 250px;
  }
}

.artist-subtitle {
  display: block;

  font-size: $text-size-1;
}

.artist-form {
  display: grid;

  box-sizing: border-box;

  column-gap: 24px;
  row-gap: 1.5rem;

  @include media(min, $bp-large) {
    grid-template-columns: repeat(2, max-content);
  }

  &-btn {
    display: flex;
    align-items: center;

    width: 200px;

    font-size: 12.8px;
    text-transform: uppercase;
  }

  &-btn-play {
    background-color: $purple;
  }

  &-btn-like {
    background-color: $red;
  }

  &-btn-img {
    width: 20px;
    height: 20px;
    margin-right: 16px;

    filter: invert(1);
  }
}
