.footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  background-image: linear-gradient(265.08deg, #95390c 14.9%, #5328a1 68.95%);
}

.social {
  display: flex;
  gap: 24px;
}

.footer-top {
  display: grid;
  gap: 14px;
  width: 100%;

  padding-top: 3rem;
  padding-bottom: 3rem;

  @include media(min, $bp-large) {
    grid-template-columns: repeat(2, auto);
  }

  @include media(min, $bp-desktop) {
    grid-template-columns: repeat(4, auto);
    gap: 24px;
    justify-items: space-between;
  }
}

.footer-line {
  width: 100%;

  border-top: 1px solid $gray;
}

.footer-bottom {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;

  &-menu {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include media(min, $bp-large) {
      flex-direction: row;
    }
  }
}
