.footer {
  display: grid;
  justify-items: center;

  font-size: $text-size-1;

  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);

  a {
    &:hover,
    &:focus {
      color: $white;

      > img {
        filter: contrast(2);
      }
    }
  }

  .social {
    display: flex;
    gap: 24px;
    margin: 18px 0;
  }
}

.footer-top {
  display: grid;
  gap: 32px;
  width: 100%;

  padding-top: 64px;
  padding-bottom: 47px;

  .title {
    margin-bottom: 14px;

    font-size: 18px;
  }

  @include media(min, $bp-large) {
    grid-template-columns: repeat(2, auto);
  }

  @include media(min, $bp-desktop) {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;

    padding-bottom: 73px;

    // justify-items: space-between;
  }
}

.footer-line {
  width: 100%;

  border-top: 1px solid $white;
}

.footer-bottom {
  width: 100%;
  padding-top: 41px;
  padding-bottom: 50px;

  @include media(min, $bp-large) {
    padding-top: 40px;
    padding-bottom: 48px;
  }

  .bottom-menu {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include media(min, $bp-large) {
      flex-direction: row;
    }
  }
}
