.footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);

  &-title {
    margin-bottom: 14px;

    font-size: 18px;
  }

  &-menu {
    margin: 0;

    font-size: $text-size-1;
  }
}

.social {
  display: flex;
  gap: 24px;
}

.footer-top {
  display: grid;
  gap: 32px;
  width: 100%;

  padding-top: 64px;
  padding-bottom: 47px;

  @include media(min, $bp-large) {
    grid-template-columns: repeat(2, auto);
  }

  @include media(min, $bp-desktop) {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;

    padding-bottom: 73px;

    // justify-items: space-between;
  }
}

.footer-line {
  width: 100%;

  border-top: 1px solid $white;
}

.footer-bottom {
  width: 100%;
  padding-top: 41px;
  padding-bottom: 50px;

  @include media(min, $bp-large) {
    padding-top: 40px;
    padding-bottom: 48px;
  }

  &-menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;

    font-size: $text-size-1;

    @include media(min, $bp-large) {
      flex-direction: row;
    }
  }
}

.footer-item {
  &:hover,
  &:focus {
    color: $white;

    > .footer-img {
      filter: contrast(2);
    }
  }
}
