/* stylelint-disable selector-class-pattern */

@font-face {
  font-family: Roboto;
  src:
    local("Roboto Regular"),
    local("Roboto-Regular"),
    url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
}

@mixin media($min-max, $screen-size) {
  $media-rule: "#{$min-max}-width";

  @media ($media-rule: $screen-size) {
    @content;
  }
}

.page {
  color: $dark-gray;

  font-size: 18px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;

  background-color: $bg-color;
}

.page__body {
  margin: 0;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2 {
  font-weight: bold;
}

h1,
h2,
h3,
h4 {
  margin: 0;

  line-height: 1.5;
  text-transform: uppercase;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 16px;
}

@include media(min, $bp-large) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 24px;
  }
}

h4 {
  font-size: 18px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

// Atomic classes

.visually-hidden {
  position: fixed;

  transform: scale(0);
}

.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-48 {
  margin-bottom: 48px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.col-gray {
  color: $gray;
}

.col-white {
  color: $white;
}

.txt-al-center {
  text-align: center;
}

// General Classes

.menu {
  padding: 0;

  li {
    list-style-type: none;
  }
}

.btn {
  padding: 20px 30px;

  color: inherit;
  font-family: inherit;

  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.input {
  color: $white;
  font-family: inherit;

  border: none;
}

*:focus-visible {
  outline: 1px solid $white;
  box-shadow: $focus-shadow-white;
}

.main-wrapper {
  flex-grow: 1;
  max-width: 1240px;

  padding-right: 20px;
  padding-left: 20px;
}

.flex-al-center {
  display: flex;
  align-items: center;
}

// Mixins

@mixin bg-image($url, $size: cover, $position: top center) {
  background: url("#{$url}") no-repeat;
  background-position: $position;
  background-size: $size;
}

%items-wrapper {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  padding-top: 48px;

  @include media(min, 600px) {
    display: flex;
    flex-wrap: wrap;
  }

  column-gap: 50px;
  row-gap: 25px;
}

%item {
  width: 137px;

  @include media(min, 900px) {
    width: 250px;
  }
}

%item-img {
  display: block;
  margin-bottom: 20px;
}

%item-title {
  font-weight: 700;
  font-size: 18px;
  text-transform: none;
}

%item-subtitle {
  margin: 0;

  font-size: $text-size-1;
}
