@font-face {
  font-weight: 400;
  font-family: Roboto;
  src:
    local("Roboto Regular"),
    url("../fonts/Roboto-Regular.woff2") format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src:
    local("Roboto Bold"),
    url("../fonts/Roboto-Bold.woff2") format("woff2");
}

@mixin media($min-max, $screen-size) {
  $media-rule: "#{$min-max}-width";

  @media ($media-rule: $screen-size) {
    @content;
  }
}

body {
  margin: 0;

  color: $dark-gray;

  font-size: 18px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;

  background-color: $bg-color;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

h1,
h2 {
  font-weight: 700;
}

h1,
h2,
h3,
h4 {
  margin: 0;

  line-height: 1.5;
  text-transform: uppercase;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 18px;
}

%text-small {
  font-size: 12.8px;
}

%text-size-1 {
  font-size: 16px;
}

.text-size-2 {
  font-size: 24px;
}

%text-size-3 {
  font-size: 32px;
}

%text-size-7 {
  font-size: 64px;
}

// Atomic classes

.hidden {
  display: none;
}

.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-48 {
  margin-bottom: 48px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.col-white {
  color: $white;
}

.col-gray {
  color: $gray;
}

.txt-al-center {
  text-align: center;
}

// General Classes

.btn {
  padding: 20px 30px;

  color: inherit;

  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.input {
  box-sizing: border-box;

  font-size: inherit;
  font-family: inherit;

  border: none;

  &:focus {
    outline: none;
  }
}

.wrapper {
  position: relative;

  padding-right: 20px;

  padding-left: 20px;
}

@include media(min, $bp-large) {
  .wrapper {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 25px;
    padding-left: 25px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 24px;
  }
}

// Mixins

@mixin bg-image($url, $position: center, $size: cover) {
  background: url("#{$url}") no-repeat;
  background-position: center;
  background-size: cover;
}

%items-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 48px;

  column-gap: 50px;
  row-gap: 25px;
}

%item {
  width: 137px;

  @include media(min, 900px) {
    width: 250px;
  }
}

%item-img {
  margin-bottom: 18px;
}

%item-title {
  font-weight: 700;
}
