.logo {
  gap: 16px;

  img {
    width: 24px;
  }
}

.header {
  position: absolute;
  top: 25px;

  @include media(min, $bp-large) {
    grid-template-columns: max-content min-content 1fr;

    column-gap: 90px;

    &-search {
      justify-self: end;
    }
  }

  display: grid;
  width: calc(100% - 40px);
  row-gap: 16px;

  font-size: $text-extra-small;
  text-transform: uppercase;

  @include media(min, 1240px) {
    width: 1200px;
  }
}

.header-menu {
  @include media(min, $bp-large) {
    display: flex;
    gap: 24px;
  }

  margin-top: 0;
  margin-bottom: 0;

  a:hover,
  a:focus-visible {
    color: $orange;

    outline-offset: 3px;
    box-shadow: none;
  }
}

.header-search {
  display: flex;
  align-items: center;

  .input {
    flex-grow: 1;

    min-width: 48px;
    height: 28px;
    padding: 5px 10px;

    background-color: $dark;
    border-radius: 50px;

    @include media(min, $bp-large) {
      min-width: 248px;
    }
  }

  .input::placeholder {
    font-size: 13.3px;
    font-family: Arial, sans-serif;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }

  @include media(min, $bp-large) {
    justify-self: end;
  }
}
