.pricing-cards {
  @include media(min, $bp-large) {
    display: flex;
    gap: 47px;
  }
}

.pricing-card {
  margin: 50px 0;
  padding: 24px 1.5rem 0;
  overflow: hidden;

  border-radius: 1rem;
}

.pricing-value {
  @extend %text-size-7;
  position: relative;

  margin: 200px 0 40px;

  &::after {
    position: relative;
    top: -20px;
    left: 0.3em;

    @extend %text-size-3;
    text-transform: uppercase;

    content: "руб.";
  }
}

.pricing-btn {
  display: block;

  text-align: center;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid $white;
}

.pricing-footer {
  margin: 64px 0;

  @extend %text-small;
}

.page-pricing-text {
  @extend %text-size-1;
}

.bg-free {
  @include bg-image("../images/subscribe_1.png");
}

.bg-standart {
  @include bg-image("../images/subscribe_2.png");
}

.bg-premium {
  @include bg-image("../images/subscribe_3.png");
}
