.page-description {
  background: url("../images/banner.png") no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;

  @include media(min, $bp-large) {
    display: flex;

    &-menu {
      margin-left: 90px;

      ul {
        display: flex;
        gap: 24px;
      }
    }
  }
}

.logo {
  display: flex;
  gap: 16px;
  align-items: center;

  &-image {
    width: 24px;
  }
}

.search-form {
  display: flex;

  &-input {

    flex-grow: 1;
    height: 25px;
    padding: 5px 10px;

    background-color: $dark;
    border-radius: 50px;
  }

  @include media(min, $bp-large) {
    width: 248px;
    margin-left: auto;
  }
}

.main-description {
  margin: 78px 0 200px;

  text-align: center;

  @include media(min, $bp-large) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px 0;
  }
}

.access-form {
  display: flex;
  flex-direction: column;

  &-label {
    display: none;
  }

  &-input {
    min-width: 270px;
    min-height: 50px;
    margin-bottom: 1.5rem;

    padding-left: 20px;

    background-color: transparent;

    border: 2px solid $dark-gray;
    border-radius: 3px;

    &::placeholder {
      color: $white;
      font-weight: 700;
      font-size: 14px;
    }
  }

  &-button {
    padding: 20px 30px;

    text-transform: uppercase;

    background-color: $green;

    border-radius: 5px;
  }

  @include media(min, $bp-large) {
    display: grid;
    grid-template-columns: 2;
    gap: 24px;

    width: 570px;

    &-button {
      grid-column: span 2;
    }
  }
}
