.page-description { color: $white;

  background: url("../images/banner.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
}

.page-description__header {
  margin-bottom: 78px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo__image {
  width: 24px;
}

.menu {
  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
  }
}

.hidden {
  display: none;
}

.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.input {
  box-sizing: border-box;

  font-size: inherit;
  font-family: inherit;

  border: none;

  &:focus {
    outline: none;
  }
}

.search-form {
  display: flex;
}

.search-form__input {
  height: 25px;

  flex-grow: 1;

  background-color: $dark;
  border-radius: 50px;
  padding: 5px 10px;

}

.main-description {
  text-align: center;
}

.main-description__text {
  font-size: 16px;
}

.access-form {
  display: flex;
  flex-direction: column;
}

.access-form__input {
  color: $white;

  min-width: 270px;
  min-height: 50px;

  padding-left: 20px;
  margin-bottom: 1.5rem;

  border: 2px solid $dark-gray;
  border-radius: 3px;

  background-color: transparent;

  &::placeholder {
    color: $white;
    font-size: 14px;
    font-weight: 700;
  }
}

.button {
  color: inherit;
  border: none;
}

.access-form__button {
  padding: 20px 30px;

  background-color: $green;

  text-transform: uppercase;

  border-radius: 5px;
}

@media screen and (min-width: 850px) {
  .page-description__header {
    display: flex;
  }

  .main-description {
    margin: 200px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__menu {
    margin-left: 90px;

    ul {
      display: flex;
      gap: 24px;
    }
  }

  .header__search-form {
    margin-left: auto;
    width: 248px;
  }

  .access-form {
    display: grid;
    gap: 24px;

    width: 570px;
    grid-template-columns: 2;
  }

  .access-form__button {
    grid-column: span 2;
  }
}

