
.page-description {
  background: url("../images/banner.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;

  @include media(min, $bp-large) {
    display: flex;

    &-menu {
      margin-left: 90px;

      ul {
        display: flex;
        gap: 24px;
      }
    }

  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;

  &-image {
    width: 24px;
  }

}

.search-form {
  display: flex;

  &-input {
    height: 25px;

    flex-grow: 1;

    background-color: $dark;
    border-radius: 50px;
    padding: 5px 10px;

  }

  @include media(min, $bp-large) {
    margin-left: auto;
    width: 248px;
  }
}

.main-description {
  text-align: center;

  @include media(min, $bp-large) {
    margin: 200px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


.access-form {
  display: flex;
  flex-direction: column;

  &-label {
    display: none;
  }

  &-input {
    min-width: 270px;
    min-height: 50px;

    padding-left: 20px;
    margin-bottom: 1.5rem;

    border: 2px solid $dark-gray;
    border-radius: 3px;

    background-color: transparent;

    &::placeholder {
      color: $white;
      font-size: 14px;
      font-weight: 700;
    }
  }

  &-button {
    padding: 20px 30px;

    background-color: $green;

    text-transform: uppercase;

    border-radius: 5px;
  }

  @include media(min, $bp-large) {
    display: grid;
    gap: 24px;

    width: 570px;
    grid-template-columns: 2;


    &-button {
      grid-column: span 2;
    }
  }
}
