.page-app {
  display: grid;

  font-size: $text-size-1;

  @include media(min, $bp-large) {
    grid-template: repeat(2, auto) / repeat(2, 1fr);

    .app-image {
      order: 1;
    }
  }

  .app-image {
    justify-self: center;
  }

  h2 {
    @include media(min, $bp-large) {
      grid-column: span 2;
    }
  }

  .app-btn {
    display: inline-block;
    padding: 16px 40px;

    color: $white;

    background-color: $red;
    border-radius: 32px;

    transition: $tr-filter;

    &:hover,
    &:focus-visible {
      filter: $bright-90;
    }
  }
}
