.page-pricing {
  .title {
    margin-bottom: 48px;
  }

  .footnote {
    margin: 40px 0 0;

    font-size: $text-size-1;
  }

  .pricing-cards {
    display: grid;
    gap: 50px;
  }

  @include media(min, $bp-large) {
    .pricing-cards {
      grid-auto-columns: 1fr;
      grid-auto-flow: column;
    }
  }
}

.pricing-card {
  padding: 0 24px;

  border-radius: 0.9rem;

  transition: transform ease-in-out 0.15s;

  .title {
    margin-top: 1em;

    font-weight: 400;
  }

  .value {
    margin-top: 200px;
    margin-bottom: 40px;

    font-size: $text-size-7;
    line-height: 1;
  }

  .currency {
    font-size: $text-size-3;
    line-height: 1.5;
    text-transform: uppercase;
    vertical-align: top;
  }

  .price-btn {
    display: block;

    font-size: $text-size-1;
    text-align: center;
    text-transform: uppercase;

    background-color: transparent;
    border: 1px solid $white;
    outline-offset: 0;

    transition: background-color ease-in-out 0.15s;
  }

  .price-btn:hover,
  .price-btn:focus-visible {
    background-color: rgb(0 0 0 / 10%);
  }

  .description {
    margin-top: 64px;
    margin-bottom: 64px;

    font-size: $text-small;
  }

  &.free {
    @include bg-image("../images/subscribe_1.webp");
  }

  &.standart {
    @include bg-image("../images/subscribe_2.webp");
  }

  &.premium {
    @include bg-image("../images/subscribe_3.webp");
  }

  @include media(min, $bp-large) {
    &:hover {
      transform: scale(1.02);
    }
  }
}
