.news-items {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}

.news-item {
  @include media(min, $bp-large) {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(2, 1fr);

    column-gap: 50px;
  }

  .news-image {
    width: 100%;

    vertical-align: middle;

    @include media(max, 1239px) {
      height: 100%;
      object-fit: cover;
    }
  }

  h3 {
    font-weight: 400;

    @include media(max, $bp-large - 1) {
      margin: 50px 0 16px;
    }

    @include media(min, $bp-large) {
      margin: 0 0 30px;

      font-size: 30px;
    }

    text-transform: none;
  }

  p {
    margin: 0;

    font-size: $text-size-1;
  }

  .author {
    display: flex;
    gap: 16px;
    align-items: center;

    font-size: $text-small;

    text-transform: uppercase;

    &-name {
      color: $orange;
    }
  }

  .news-btn {
    display: inline-block;

    margin-top: 48px;
    padding: 16px 30px;

    font-size: $text-small;
    text-transform: uppercase;

    border: 1px solid $white;
    outline-offset: 0;

    transition: color ease-in-out $tr-time;

    &:hover,
    &:focus-visible {
      color: $white;
    }
  }

  &:nth-child(even) {
    .news-image {
      grid-column: 2;
    }
  }
}
