.popular-tracks {
  display: grid;
  padding-top: 48px;
  row-gap: 25px;

  @include media(min, $bp-large) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.popular-track {
  display: flex;
  gap: 15px;
  padding-right: 50px;

  font-size: $text-small;

  .track-poster {
    width: 55px;
    height: 55px;
  }

  .track-info {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
  }

  .track-title {
    color: $white;
    font-size: inherit;
  }
}
