.similiar-items {
  @extend %items-wrapper;
}

.similiar-item {
  @extend %item;
  text-align: center;
}

.similiar-img {
  @extend %item-img;
  border-radius: 50%;
}

.similiar-title {
  @extend %item-title;
}

.similiar-subtitle {
  @extend %item-subtitle;
  line-height: 1.45;
}
