.similiar-artists {
  @extend %figure-items-wrapper;
}

.artist-item {
  @extend %figure-item;
  text-align: center;

  .artist-photo {
    @extend %figure-item-img;
    border-radius: 50%;
  }

  .title {
    @extend %figure-item-title;
  }

  .count {
    @extend %figure-item-subtitle;
    line-height: 1.45;
  }
}
