/* Colors */
$bg-color: #08020d;
$gray: #e0e0e0;
$dark: #3c3b3d;
$dark-gray: #cacaca;
$green: #34c176;
$orange: #f89202;
$purple: #5328a1;
$red: #95390c;
$white: #fff;

/* Breakpoints */
$bp-large: 850px;
$bp-desktop: 965px;
