// Colors

$bg-color: #08020d;
$gray: #e0e0e0;
$dark: #3c3b3d;
$dark-gray: #cacaca;
$green: #34c176;
$orange: #f89202;
$purple: #5328a1;
$red: #95390c;
$white: #fff;

// Breakpoints

$bp-large: 850px;
$bp-desktop: 965px;

// Font sizes

$text-extra-small: 11px;
$text-small: 12.8px;
$text-size-1: 16px;
$text-size-2: 24px;
$text-size-3: 32px;
$text-size-7: 64px;

// Transition

$tr-time: 0.15s;
$tr-filter: filter ease-in-out $tr-time;

// Effect

$bright-90: brightness(90%);
$focus-shadow-white: 0 0 4px 0 rgb(255 255 255 / 90%);
